#map {
      width: 100%;
      height: 600px;
}

* { 
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Oswald', 'Trebuchet MS', sans-serif;
}

#background {
      z-index: -1;
      position: fixed;
      height: 100vh;
      width: 100%;
      margin-top: 52px;
}

.navlinks a:hover {
      color: #f9043a;
      cursor: pointer;
}


div .logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* margin-bottom: 25rem; */
      flex-wrap: nowrap;
      width: 100%;

}

#imageLogo {
      height: 6rem;
      width: 10rem;
      margin: auto;
      margin-top: 100px;
      
      
}

.title-description {
      display: flex;
      flex-direction: column;
      align-items: center;

}

h6 {
      color: white;
      font-size: small;
      letter-spacing: 1px;
      /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}




nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-color: white;
      position: fixed;
      top:0;
      height: 52px;
      width: 101%;
      border: 1px solid #DDD;
      background: -moz-linear-gradient(top, #EEE, #FFF);    
      background: -webkit-linear-gradient(top, #eee, #fff);
      background: -ms-linear-gradient(top, #eee, #fff);
      background: -o-linear-gradient(top, #eee, #fff);
      box-shadow: 1px 2px 4px rgba(0,0,0, .2);
      z-index: 1;
      
}     



nav span {
      justify-content: flex-start;
      color: #f9043a;
      font-weight: 800;

}

.navlinks, 
span {
      font-size: large;
}

div .navlinks {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
}

.webpageMiddle {
      background-color: white;
}

nav a {
      justify-content: space-evenly;
      color: #776f71;
      text-decoration-line: none;
      margin-right: 25px;
      margin-left: 25px;
      background: none;
      border: none;
      
}

.main {
      text-align: center;
      color: white;
      /* background-color: white; */
      width: 100%;
}



h1 {
      margin-top: 2rem;
      margin-bottom: 4rem;
      padding-top: 3rem;
}

.container {
      height: 100vh;
}

.main p {
      margin: 1rem;
      margin-bottom: 4rem;
}

#proyect-titel,
.pamatrans, 
.Tildea,
#phone-number {
      text-align: center;
}

#proyect-titel, 
.pamatrans, Tildea {
      display: flex;
      justify-content: center;
}

.pamatrans,
.Tildea {
      flex-direction: column;
      width: 100%;
}



#phone-number {
      color: white;
      width: 40%;
}

.mainButtons {
      display: flex;
      justify-content: center;
      width: 100%;

}

.websiteButton {
      color: white;
      background-color: #f9043a;
      padding: 0.8rem;
      border-color: #f9043a;
      border-radius: 1rem;
      font-size: medium;
      margin-right: 10px;
      outline: none;
      text-decoration-line: none;
      -webkit-box-shadow: rgba(0,0,0,0.6);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow: rgba(0,0,0,0.6);  /* Firefox 3.5 - 3.6 */
       box-shadow: rgba(0,0,0,0.6);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.hireButton {
      color: white;
      background-color: rgba(0, 0, 0, 0.65);
      padding: 0.8rem;
      border-color: black;
      border-radius: 1rem;
      font-size: medium;
      outline: none;
      text-decoration-line: none;
      -webkit-box-shadow: rgba(0,0,0,0.6);;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow: rgba(0,0,0,0.6);;  /* Firefox 3.5 - 3.6 */
       box-shadow: rgba(0,0,0,0.6);;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
      border: 1.2px black solid;
      cursor: pointer;
}

.arrow {
      height: 15px;
      width: 15px;
      margin: auto;
      opacity: 0.45;
      margin-left: 5px;
}

.arrow1 {
      height: 15px;
      width: 15px;
      margin: auto;
      opacity: 0.65;
      margin-left: 5px;
}

#copied {
      color: greenyellow;
      display: none;
      margin: 5px;
}

#proyects {
      display: flex;
      flex-direction: column;
      margin-top: 3rem;
      margin-bottom: 1rem;
      padding-top: 30px;
      color: rgba(56, 49, 49, 0.822);
      margin-left: 7rem;
      margin-right: 7rem;
}

#proyect-titel {
      padding-top: 3rem;
      color: rgba(56, 49, 49, 0.822);
      margin-top: 5rem;
      margin-bottom: 1rem;
}

hr {
      border: 0;
      height: 2px;
      background: #f9043a;
      background-image: linear-gradient(to right, #ccc, #f9043a, #ccc);
      margin: 0 1rem;
      
      
}

#sprinter,
#tildea {
      width: 50%;
      height: 42%;
}

#sprinter {
      transition: transform 1s;
}

#sprinter:hover {
      transform: scale(1.05);
}

.tildea {
      margin-top: 3rem;
      display: flex;
      justify-content: center;
}

#tildea {
      border-radius: 4rem;
      margin: auto;
}

#proyects p {
      margin: 1rem;
      margin-bottom: 6rem;
}

.pawel {
      margin-top: 3rem;
}

.about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      padding-left: 7rem;
      padding-right: 7rem;
}


.personal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 5rem;
      margin-bottom: 4rem;
}

.communication {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
}

.communication img {
      cursor: pointer;
      transition: transform 1s;
      padding: 8px;
}

.communication img:hover {
      transform: scale(1.25);
      background-color: #f9043a;
      border-radius: 5px;
}

.here {
      color: #f9043a;
      font-weight: 800;
      text-decoration-line: none;
}

#profile-pic {
      height: 275px;
      width: 275px;
      border-radius: 200px;
      margin: auto;
      margin-bottom: 1rem;
      display: block;
      margin: 1em auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-border-radius: 99em;
      -moz-border-radius: 99em;
      border-radius: 99em;
      border: 5px solid #eee;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}

#github,
#instagram, 
#treehouse,
#logoemail {
      height: 45px;
      width: 45px;
}


form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
}

#name, 
#email,
#phone, 
#comment {
      background: none;
      border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
      font-weight: 400;
      letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
      transition: all 0.3s;
      width: 80%;
      margin-left: auto;
      margin-right: auto; 
      outline: none;
}


label {
      font-size: large;
      color: rgba(56, 49, 49, 0.822);
}

#linkpama {
      text-decoration-line: none;
      color: rgba(56, 49, 49, 0.822);
}

#linkpama:hover {
      color: #f9043a;
}

.send {
      color: white;
      background-color: #f9043a;
      padding: 0.5rem;
      border-color: #f9043a;
      border-radius: 1rem;
      font-size: large;
      margin: auto;
      width: 50%;
      margin-bottom: 5rem;
      transition: transform 1.3s;
}

.send:hover {
      transform: scale(1.05);
}

#menu-toggler {
      height: 25px;
      width: 40px;
      border-radius: 5px;
}



/* #proyects .pamatrans p {
      margin-left: 2rem;
      margin-right: 2rem;
} */

/* #proyects .Tildea p {
      margin-left: 3rem;
      margin-right: 3rem;
} */

#contact {
      color: rgba(56, 49, 49, 0.822);
      margin-bottom: 4rem;
      text-align: center;
}



.contactform {
      display: flex;
      flex-direction: column;
      justify-content: center;
}


#footer {
      background-color: gainsboro;
      text-align: center;
      color: grey;
      margin: none;
      padding: 3rem;
}

#navegation-links {
      display: flex;
      flex-direction: column;
      position: sticky;
      background-color: white;
      line-height: 40px;
      border-top: none;
      margin-top: 107px;
      background: -moz-linear-gradient(top, #EEE, #FFF);    
      background: -webkit-linear-gradient(top, #eee, #fff);
      background: -ms-linear-gradient(top, #eee, #fff);
      background: -o-linear-gradient(top, #eee, #fff);
      position: absolute;
      width: 101%;
}

#navegation-links a {
      border-bottom: grey 1px dotted;
      text-align: center;
}

#navegation-links a:last-child {
      border-bottom: none;
}

#navegation-links a 

#menu-toggler-link {
      outline: none;
      cursor: pointer;
      pointer-events: all;
}

h5 {
      background-color: black;
      padding: 0.7rem; 
      font-size: large;
      max-width: 210px;
      width: 50%;
      margin: 1rem;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50rem;
      margin-bottom: 2rem;
      cursor: pointer;
      outline: none;
      transition: transform 1s;
}

#jotform {
      width: 100%;
      height: 900px;
}

h5:hover {
      transform: scale(1.1);
      
}

@media (max-width: 500px) {

.about {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
}

.Tildea, 
.pamatrans {
      width: 100%;
}

#proyects {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      display: flex;
      justify-content: center;
}

#profile-pic {
      height: 225px;
      width: 225px;

}

.Tildea, 
.pamatrans {
      display: flex;
      justify-content: center;
}
}

@media (min-width: 770px) {
.about {
      flex-direction: row;
      justify-content: space-around;
      align-content: stretch;
      
}

.personal,
.contactform {
      width: 50%;
}

.contactform {
      margin-top: 4rem;
}

.websiteButton {
      margin-right: 5rem;
}

hr {
      margin: 0 3rem;
}
}

@media (min-width: 1000px) {
      #proyects {
            flex-direction: row;
            justify-content: space-around;

      }

      .pamatrans,
      .Tildea {
            width: 50%;
      }


}

































